// 1. Importación desde Google Fonts (Temporal como pediste)
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Oswald:wght@300;400&display=swap');

// 2. Variables Primitivas
$color-sevee-blue: #0056b3;
$font-titles: 'Open Sans', sans-serif;
$font-texts: 'Oswald', sans-serif;

// 3. Tokens Semánticos (CSS Variables)
:root {
  --font-primary: #{$font-titles};
  --font-secondary: #{$font-texts};
  --primary: #{$color-sevee-blue};
  --text-main: #212529;
}